/*Background Container*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #333333;
}

/*Website Name*/
.navbar-default .navbar-brand {
    color: #cacaca;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #ffffff;
}

/*Toggle colors*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #4a4a4a;
}

ul.nav a:hover { color: #fff !important; }

/*Tab Text*/
.navbar-default .navbar-nav>li>a {
    color: #cacaca;
}